{{ $lang := $.Scratch.Get "target" }}
<div>
    <form id="contactform">
        <div class="form-group">
            <label for="inputName">{{ (index .Site.Data.lang $lang).emailnamelabel }}</label>
            <input name="name" type="name" id="inputName" placeholder="{{ (index .Site.Data.lang $lang).emailnamelabel }}"><span class="feedback" id="nameFeedback">
        </div>

        <div class="form-group">
            <label for="inputEmail">{{ (index .Site.Data.lang $lang).emailaddresslabel }}</label>
            <input name="email" type="email" id="inputEmail" placeholder="{{ (index .Site.Data.lang $lang).emailaddresslabel }}"><span class="feedback" id="emailFeedback">
        </div>

        <div class="form-group">
            <label for="inputLessonType">{{ (index .Site.Data.lang $lang).emaillessontypelabel }}</label>
            <select name="lessonType" id="inputLessonType">
                <option>{{ (index .Site.Data.lang $lang).emaillessontypeprivate }}</option>
                <option>{{ (index .Site.Data.lang $lang).emaillessontypegroup }}</option>
                <option>{{ (index .Site.Data.lang $lang).emaillessontypeeither }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="message">{{ (index .Site.Data.lang $lang).emailmessagelabel }}</label>
            <textarea name="message" cols="80" rows="10" id="message"></textarea>
        </div>

        <button type="submit" id="submit">{{ (index .Site.Data.lang $lang).emailsendbutton }}</button><span class="feedback" id="response">
    </form>
</div>

<script>
    $(document).ready(function() {
        $("#submit").click(function(event) {
            event.preventDefault();

            var nameOk = validate("#inputName", "Please enter your name", "#nameFeedback", containsText);
            var emailOk = validate("#inputEmail", "Please enter your email address", "#emailFeedback", looksLikeEmailAddress);
            var messageOk = validate("#message", "Please enter a message", "#response", containsText);

            if (!nameOk || !emailOk || !messageOk) {
                return;
            }

            var formData = $("#contactform").serialize();

            $("#submit").attr("disabled", true);
            $("#response").text("Sending your message ...");
            $.ajax({
                type: "POST",
                url: "{{ .Site.Params.contactformaction }}",
                data: formData,
                success: function() {
                    $("#response").text("ありがとうございます。メールは無事に送信されました。");
                    $("#submit").removeAttr("disabled");
                },
                error: function() {
                    $("#response").text("メッセージが送れませんでした。もう一度お送りください。");
                    $("#submit").removeAttr("disabled");
                }
            });
        });
    });

    function validate(fieldId, message, target, validator) {
        if (!validator($(fieldId).val())) {
            $(target).text(message);
            $(fieldId).focus();
            return false;
        } else {
            $(target).text("");
            return true;
        }
    }

    function containsText(str) {
        return str.trim().length > 0;
    }

    function looksLikeEmailAddress(str) {
        return str.split("@").length == 2;
    }
</script>