<!DOCTYPE html>
<html>
{{ if .Section }}
{{ $.Scratch.Set "target" .Section }}
{{ else if in .Url "/ja/" }}
{{ $.Scratch.Set "target" "ja" }}
{{ else if in .Url "/en/" }}
{{ $.Scratch.Set "target" "en" }}
{{ end }}

<head lang="{{ $.Scratch.Get "target" }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/body.css">
    <script src="/js/jquery-1.11.1.min.js"></script>
</head>
