{{ "<!--[if IE 8]>" | safeHtml }}
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('hgroup');
</script>
{{ "<![endif]-->" | safeHtml }}

{{ $lang := $.Scratch.Get "target" }}

<div class="pagetop">
    <div class="languageIconBar">
    {{ range $lang, $menu := .Site.Menus }}
        <a href="/{{ $lang }}" id="icon-{{ $lang }}"><img class="languageIcon" src="/icons/{{ $lang }}.png" alt="{{ (index $.Site.Data.lang $lang).name }}"/></a>
        {{ if eq $lang ($.Scratch.Get "target") }} {{ $.Scratch.Set "menu" $menu }} {{ end }}
    {{ end }}
    </div>
    <img class="toplogo" src="{{ (index .Site.Data.lang $lang).logo }}"/>
</div>

<script>
    $(document).ready(function() {
        $("#icon-{{ $.Scratch.Get "target" }}").hide();
    });
</script>

<nav id="nav">
    <div class="menubar"><a>{{ (index .Site.Data.lang $lang).menutext }}</a></div>
    <ul>
        {{ range (index .Site.Menus $lang) }}
        <li><a href="{{ .Url }}">{{ .Name }}</a>
            {{ if .HasChildren }}
            <ul>
                {{ range .Children }}
                <li><a href="{{ .Url }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</nav>