header, nav, section, article, aside, footer, hgroup {
   display: block;
}

nav {
    display: block;
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

nav ul {
    font-size: 14px;
    position: relative;
    display: inline-table;
    padding-left: 0px;
    padding-right: 0px;
}

nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    display: block;
    padding: 3px 6px;
    color: #e693a3;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background: #59dfe6;
    color: #ffffff;
    border-radius: 3px;
    padding: 3px 6px;
    margin: 0;
    text-decoration: none;
}

nav ul li ul {
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #ffffff;
	display: none;
	position: absolute;
	top: auto;
	left: auto;
	padding: 0px 0px;
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul li:hover > ul {
	display: block;
}
