{{ partial "head.html" . }}
<body>
    <div id="wrapper">
    {{ partial "header.html" . }}

        <img class="topimage" src="{{ .Site.Params.topimage }}"/>

        <div class="narrow">
        <p style="text-align: center">ひなたぼっこではロンドンを中心に出張、または講師宅での<br>
        インファント（ベビー）マッサージ教室を開催しております。<br>
        少人数でゆっくりとレッスンをすすめていきます。</p>
        </div>

        <div class="narrow">
        <p style="text-align: center">赤ちゃんはママとパパのあたたかい手が大好き。<br>
        お互いのぬくもりを感じながら、<br>
        まるで「ひなたぼっこ」をしているような心地になりますように。</p>
        </div>

    {{ partial "footer.html" . }}
    </div>
</body>
</html>