{{ partial "head.html" . }}
<body>
<div id="wrapper">

    {{ partial "header.html" . }}

    <article>
        <h2>{{ .Title }}</h2>
        <div id="content">
            {{ .Content }}
        </div>
    </article>

    {{ if .Params.contactform }}
    {{ partial "contactform.html" . }}
    {{ end }}

    {{ if .Params.calendar }}
    {{ partial "calendar.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    <footer>
        {{ if .Params.contactlink }}
        <strong><a href="/{{ $.Scratch.Get "target" }}/contact">{{ .Params.contactlink }}</a></strong>
        {{ end }}
    </footer>

</div>

</body>
</html>