<a name="calendar">
<div>
        <iframe src="https://www.google.com/calendar/embed?hl={{ .Site.Language }}&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src={{ .Site.Params.calendarurl | html }}&amp;color=%235F6B02&amp;ctz=Europe%2FLondon" class="iframe calendar"></iframe>
        <iframe src="https://www.google.com/calendar/embed?hl={{ .Site.Language }}&amp;mode=AGENDA&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src={{ .Site.Params.calendarurl | html }}&amp;color=%235F6B02&amp;ctz=Europe%2FLondon" class="iframe agenda"></iframe>
</div>
</a>