{{ "<!--[if IE 8]>" | safeHTML }}
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('hgroup');
</script>
{{ "<![endif]-->" | safeHTML }}

{{ range .Translations }}
<div class="languageSelector"><a href="{{ .Permalink }}"><img src="http://images.baskinginthesun.co.uk/flag_{{ .Lang }}.png"/>{{ .Language.LanguageName }}</a></div>
{{ end }}


<div class="pagetop">
    <img class="toplogo" src="{{ .Site.Params.logo }}"/>
</div>

{{ partial "navbar.html" . }}
